SUBSYSTEM=="mhi", ACTION=="add", KERNEL=="mhi[0-9]*_SAHARA", RUN+="/usr/bin/csm-event-handler.sh %k"
SUBSYSTEM=="mhi", ACTION=="add", KERNEL=="mhi[0-9]*_CSM_CTRL", RUN+="/usr/bin/csm-event-handler.sh %k"
SUBSYSTEM=="mhi", ACTION=="add", KERNEL=="mhi[0-9]", TAG+="systemd", ENV{SYSTEMD_WANTS}+="csm-store-ddr@%k.service"
